h1{
    text-align: center;
    color: brown;
    background-color: darkgrey;
    line-height: 60px;
}
.links{
    text-align: center;
    text-transform: uppercase;
    color: darkblue;
    font-weight: bold;
    
}
.links a{
    text-decoration: none;
    font-size: 18px;
}
.links a:hover{
    color: brown;
    font-size: larger;
}